<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Meta tags for making website for mobile-->
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="viewport" content="initial-scale=1.0, user-scalable=no">


  <meta charset="UTF-8">
  <title>Widget List</title>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet"/>
  <link href="../../../styles.css" rel="stylesheet"/>
</head>
<body>
<div class="container-fluid custom-center-container">

  <nav class="navbar navbar-fixed-top navbar-custom">
    <div class="container-fluid">
      <a class="navbar-brand" href="../page/page-list.html"><span
        class="glyphicon glyphicon-chevron-left pull-left glyph-color"></span></a>
      <span class="navbar-brand">
              Widgets
            </span>
      <a class="navbar-brand pull-right" href="widget-chooser.html"><span
        class="glyphicon glyphicon-plus glyph-color"></span></a>


    </div>
  </nav>

  <br>
  <br>
  <br>

  <div class="row custom-widget">
    <div class="col-xs-12">
      <div class="custom-widget-toolbar">
        <a class="colored-link" href="#"><span
          class="glyphicon glyphicon-menu-hamburger pull-right glyph-color"></span></a>
        <a class="glyph-color" href="widget-heading.html"><span
          class="glyphicon glyphicon-cog pull-right"></span></a>
      </div>
      <h1>M5 crash: Four dead in Gloucestershire</h1>
    </div>
    <div class="col-xs-12">
      <div class="custom-widget-toolbar">
        <a  href="#"><span
          class="glyphicon glyphicon-menu-hamburger pull-right glyph-color"></span></a>
        <a href="#"><span class="glyphicon glyphicon-cog pull-right glyph-color"></span></a>
      </div>
      <h3>83-year-old pushes burglary suspect off roof, ends police standoff</h3>
    </div>
    <div class="col-xs-12">
      <div class="custom-widget-toolbar">
        <a href="#"><span
          class="glyphicon glyphicon-menu-hamburger pull-right glyph-color"></span></a>
        <a  href="widget-image.html"><span
          class="glyphicon glyphicon-cog pull-right glyph-color"></span></a>
      </div>
      <img class="img-responsive center-block"
           src="../../../1505595312008.jpg">
    </div>
    <div class="col-xs-12">
      <div class="custom-widget-toolbar custom-widget-toolbar-ontop">
        <a href="#"><span
          class="glyphicon glyphicon-menu-hamburger pull-right glyph-color"></span></a>
        <a href="#"><span
          class="glyphicon glyphicon-cog pull-right glyph-color"></span></a>
      </div>
      <h4>An EU official said the U.S. will not withdraw from the Paris climate deal, contrary to the public statements of President Trump, the Wall Street Journal said.</h4>



    <div class="col-xs-12">
      <div class="custom-widget-toolbar custom-widget-toolbar-ontop">
        <a  href="#"><span
          class="glyphicon glyphicon-menu-hamburger pull-right glyph-color"></span></a>
        <a  href="widget-youtube.html"><span
          class="glyphicon glyphicon-cog pull-right glyph-color"></span></a>
      </div>
      <div class="custom-responsive-video">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/ah7LYxysuJ8"
                frameborder="0" allowfullscreen></iframe>
      </div>
    </div>

  </div>


  <nav class="navbar transparent navbar-custom navbar-fixed-bottom affix">
    <div class="container-fluid">
      <a class="navbar-brand" href="#"><span class="glyphicon glyphicon-play glyph-color"></span></a>
      <a class="navbar-brand" href="#"><span class="glyphicon glyphicon-eye-open glyph-color"></span></a>
      <a class="navbar-brand pull-right"  href="../user/profile.html"><span class="glyphicon glyphicon-user glyph-color"></span></a>
    </div>
  </nav>

</div>
</body>
</html>
