<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Meta tags for making website for mobile-->
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="viewport" content="initial-scale=1.0, user-scalable=no">


  <meta charset="UTF-8">
  <title>Select Widget</title>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet"/>
  <link href="../../../styles.css" rel="stylesheet"/>
</head>
<body>
<div class="container-fluid custom-center-container">

  <nav class="navbar navbar-fixed-top navbar-custom">
    <div class="container-fluid">
      <a class="navbar-brand" href="widget-list.html"><span
        class="glyphicon glyphicon-chevron-left pull-left glyph-color"></span></a>
      <span class="navbar-brand">
              Choose a Widget
            </span>
    </div>
  </nav>
  <br> <br> <br>
  <ul><a href="widget-heading.html">Header</a></ul>
  <ul><a href="widget-chooser.html">Label</a></ul>
  <ul><a href="widget-chooser.html">HTML</a></ul>
  <ul><a href="widget-chooser.html">Text Input</a></ul>
  <ul><a href="widget-chooser.html">Link</a></ul>
  <ul><a href="widget-chooser.html">Button</a></ul>
  <ul><a href="widget-image.html">Image</a></ul>
  <ul><a href="widget-youtube.html">YouTube</a></ul>
  <ul><a href="widget-chooser.html">Data Table</a></ul>
  <ul><a href="widget-chooser.html">Repeater</a></ul>


</div>
</body>
</html>
