<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Meta tags for making website for mobile-->
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="viewport" content="initial-scale=1.25, user-scalable=no">


  <meta charset="UTF-8">
  <title>User Register</title>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet"/>


  <!-- STYLE sheet comes after all the libraries are loaded. Document style-->

  <link href="../../../styles.css" rel="stylesheet"/>
</head>

<body>
<div class="container">
  <h1>User Registration</h1>
  <input placeholder="Username"
         type="text"
         class="form-control bottom-buffer"/>
  <input placeholder="Password"
         type="password"
         class="form-control bottom-buffer"/>
  <input placeholder="Verify Password"
         type="password"
         class="form-control bottom-buffer"/>
  <a class="btn btn-primary btn-block bottom-buffer"
     href="profile.html">Register</a>
  <a class="btn btn-danger btn-block bottom-buffer  "
     href="login.html" >Cancel</a>

</div>
</body>
</html>
