<nav class="navbar navbar-fixed-top navbar-custom ">
  <div class="container-fluid">


    <p class="navbar-header pull-left">
      <a class="navbar-brand glyph-color">
        <b>Profile</b>
      </a>
    </p>

    <p class="navbar-text pull-right">
      <a href="profile.html" class="navbar-link">
        <span class="glyphicon glyphicon-ok glyph-color"></span>
      </a>
    </p>

  </div>
</nav>


<div class="container top-margin">
  <form>
    <div class="form-group">
      <label for="username">Username</label>
      <input type="text" class="form-control bottom-buffer" id="username" placeholder="vshamnani" readonly>
    </div>
  </form>

  <form>
    <div class="form-group">
      <label for="email">Email address</label>
      <input type="email" class="form-control bottom-buffer" id="email" placeholder="shamnani.v@husky.neu.edu">
    </div>
  </form>

  <form>
    <div class="form-group">
      <label for="first-name">First Name</label>
      <input type="text" class="form-control bottom-buffer" id="first-name" placeholder="Vinayak">
    </div>
  </form>

  <form>
    <div class="form-group">
      <label for="last-name">Last Name</label>
      <input type="text" class="form-control bottom-buffer" id="last-name" placeholder="Shamnani">
    </div>
  </form>
  <a class="btn btn-primary btn-block"
     href="../website/website-list.html">Websites</a>
  <a class="btn btn-danger btn-block bottom-margin"
     href="login.html" >Logout</a>

</div>


<nav class="navbar navbar-fixed-bottom navbar-custom">
  <div class="container-fluid">
    <p class="navbar-text pull-right">
      <a href="profile.html" class="navbar-link navbar-text pull-right c1-color-black c1-text-bold cl-icon-padding">
        <span class="glyphicon glyphicon-user glyph-color"></span>
      </a>
    </p>

  </div>
</nav>
