<div class="container">
  <div *ngIf="errorFlag"
       class="alert alert-danger">
    {{errorMsg}}
  </div>

  <h1>Login</h1>
  <form (ngSubmit) = "login()" #f="ngForm">
  <input placeholder="username"
         name="username"
         type="text"
         class="form-control bottom-buffer"
         ngModel required autofocus
         #username="ngModel"
         [ngClass]="{'alert': !username.valid && username.touched, 'alert-danger': !username.valid && username.touched}"/>
    <span class="help-block" *ngIf="!username.valid && username.touched">Please enter a username! </span>
  <input placeholder="password"
         type="password"
         name="password"
         ngModel
         class="form-control bottom-buffer"
         #password="ngModel"
         [ngClass]="{'alert': !password.valid && password.touched, 'alert-danger': !password.valid && password.touched}"/>
    <span class="help-block" *ngIf="!password.valid && password.touched">Please enter a password! </span>
  <button class="btn btn-primary btn-block bottom-buffer" type="submit" [disabled]="!f.valid">Login</button>
    <a href="/auth/facebook" class="btn btn-primary btn-block">
      <span class="fa fa-facebook"></span>
      Facebook
    </a>
  <button class="btn btn-success btn-block bottom-buffer" [routerLink]="['/register']" >Register</button>
</form>
</div>
