<nav class="navbar navbar-fixed-top navbar-custom">
  <div class="row ">
    <div class="col-xs-4 hidden-xs">
      <a class="navbar-brand"
         [routerLink]="['/user/',userId,'website']">
                <span
                  class="glyphicon glyphicon-chevron-left pull-left glyph-color">
                </span>
      </a>

      <span
        class="navbar-brand">
                Websites
            </span>
      <a class="navbar-brand pull-right navbar-custom"
         [routerLink]="['/user/',userId,'website','new']">
                <span
                  class="glyphicon glyphicon-plus">
                </span>
      </a>


    </div>
    <div class="col-xs-12 col-sm-8">
      <a class="navbar-brand visible-xs"
         [routerLink]="['/user/',userId,'website']">
                <span
                  class="glyphicon glyphicon-chevron-left pull-left glyph-color">
                </span>
      </a>
      <span
        class="navbar-brand ">
               New Website
            </span>
      <a class="navbar-brand pull-right" (click)="update()">
                <span class="glyphicon glyphicon-ok glyph-color">
                </span>
      </a>
    </div>
  </div>
</nav>

<div class="body row container-fluid top-margin">
  <div class="col-sm-4 hidden-xs">
    <ul class="list-group">
      <li class="list-group-item" *ngFor="let x of websites">
        <a class="colored-link" [routerLink]="['/user/',userId,'website',x._id,'page']"><b>{{x.name}}</b> </a>
        <a class="colored-link" [routerLink]="['/user/',userId,'website',x._id]"> <span class="pull-right glyphicon glyphicon-cog"></span></a>
      </li>
    </ul>
  </div>

  <div class="col-sm-8 ">
    <form #f = "ngForm">
      <div class="form-group">
        <div *ngIf="errorFlag" class="alert alert-danger">{{errorMsg}}</div>
        <label for="inputName">Name</label>
        <input [(ngModel)]='websiteName' name ="name"
               type="text" class="form-control" id="inputName" placeholder="Website Name" ngModel #nameng = "ngModel"
               [ngClass]="{'alert-danger': websiteName=='' && updated}">
            <span class="help-block" *ngIf="websiteName=='' && updated">
      Website name cannot be blank.
    </span>
      </div>

      <div class="form-group">
        <label for="desc">Description</label>
        <textarea [(ngModel)]='description' name ="desc"
                  class="form-control" rows="5" id="desc" placeholder="Website Description" ngModel ></textarea>
      </div>
      <a (click)="delete()" class="btn btn-danger btn-block">Delete</a>
    </form>
  </div>
</div>

  <nav class="navbar navbar-fixed-bottom navbar-custom">
  <div class="container-fuild">
    <a [routerLink]="['/user/', userId]" class="navbar-link navbar-text pull-right c1-color-black c1-text-bold cl-icon-padding">
      <span class="glyphicon glyphicon-user glyph-color"></span>
    </a>
  </div>
</nav>
