<nav class="navbar-custom navbar-fixed-top">
  <div class="row">
    <div class="col-xs-12">
      <a class="navbar-brand" [routerLink]="['../']"><span
        class="glyphicon glyphicon-chevron-left pull-left glyph-color"></span></a>
      <span class="navbar-brand">
                <strong>Widget Edit</strong>
            </span>
      <a class="navbar-brand pull-right" (click)="update()"><span class="glyphicon glyphicon-ok glyph-color"></span></a>
    </div>
  </div>
</nav>

<div class="container top-margin">

  <form #f="ngForm">
    <div *ngIf="errorFlag" class="alert alert-danger">{{errorMsg}}</div>
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" class="form-control" id="name"  [(ngModel)]="widgetName" name="widgetName"  placeholder="Name"
             [ngClass]="{'alert-danger': widgetName==undefined && updated}">
      <span class="help-block" *ngIf="widgetName==undefined && updated">
      Please enter widget name!
    </span>
    </div>


    <div class="form-group">
      <label for="text">Text</label>
      <quill-editor [(ngModel)]="widgetText" name="widgetText"  id="text" ></quill-editor>
    </div>

    <a class="btn btn-danger btn-block "
            (click)="delete()" >Delete</a>
  </form>

  </div>

<nav class="navbar-custom navbar-fixed-bottom">
  <div class="container-fluid">
    <ul class="nav navbar-nav navbar-right">
      <li><a [routerLink]="['/user', userId]"><span class="glyphicon glyphicon-user pull-right glyph-color"></span></a></li>
    </ul>

  </div>
</nav>
