<nav class="navbar navbar-fixed-top navbar-custom">
  <div class="row">
    <div class="col-xs-4 hidden-xs">
      <a class="navbar-brand"
         [routerLink]="['/user', userId, 'website', websiteId, 'page']">
                <span
                  class="glyphicon glyphicon-chevron-left c1-text-bold font-little-large c1-color-black pull-left glyph-color">
                </span>
      </a>
      <span
        class="navbar-brand c1-text-bold font-little-large c1-color-black">
                Pages
            </span>
      <a class="navbar-brand c1-text-bold font-little-large c1-color-black pull-right"
         [routerLink]="['/user', userId, 'website', websiteId, 'page', 'new']">
                <span
                  class="glyphicon glyphicon-plus glyph-color">

                </span>
      </a>
    </div>

    <div class="col-xs-12 col-sm-8">
      <a class="navbar-brand visible-xs"
         [routerLink]="['/user', userId, 'website', websiteId, 'page']">
                <span
                  class="glyphicon c1-text-bold font-little-large c1-color-black glyphicon-chevron-left pull-left">
                </span>
      </a>
      <span
        class="navbar-brand c1-text-bold font-little-large c1-color-black">
               New Page
            </span>

      <a (click)="add()" class="navbar-brand pull-right c1-text-bold font-little-large c1-color-black">
                <span class="glyphicon glyphicon-ok glyph-color">
                </span>
      </a>
    </div>
  </div>
</nav>


<div class="container-fluid top-margin full-height">
  <div class="row full-height">
    <div class="col-xs-4 hidden-xs overflow right-border full-height">
      <ul class="list-group">
        <li class="list-group-item" *ngFor="let x of pages">
          <a [routerLink]="['/user', userId,'website', x.websiteId, 'page', x._id, 'widget']">
            <span class="c1-text-bold colored-link">{{x.name}}</span>
          </a>
          <a [routerLink]="['/user', userId,'website', x.websiteId, 'page', x._id]">
            <span class="glyphicon glyphicon-cog pull-right colored-link"></span>
          </a>
        </li>
      </ul>
    </div>
    <div class="col-xs-12 col-sm-8 overflow full-height">
      <form class="form-signin" #f="ngForm">
        <div class="form-group">
          <div *ngIf="errorFlag" class="alert alert-danger">{{errorMsg}}</div>
          <label for="name"
                 class="c1-text-bold font-little-large c1-color-black">
            Name
          </label>
          <input type="text"
                 id="name"
                 class="form-control"
                 placeholder="Name"
                 name="name"

                 [(ngModel)]="page['name']">
          <span class="help-block" *ngIf="name == '' && updated">
     Page name can't be blank
    </span>
        </div>
        <div class="form-group">
          <label for="title"
                 class="c1-text-bold font-little-large c1-color-black">
            Title
          </label>
          <input type="text"
                 id="title"
                 name="title"
                 class="form-control"
                 placeholder="Title"
                 required
          ngModel>
        </div>
        <div class="form-group">
          <label for="descr"
                 class="c1-text-bold font-little-large c1-color-black">
            Description
          </label>
          <input type="text"
                 id="descr"
                 name="descr"
                 class="form-control"
                 placeholder="Description"
                 required
          ngModel>
        </div>
      </form>
    </div>
  </div>
</div>

<nav class="navbar navbar-fixed-bottom navbar-custom">
  <div class="container-fuild">
    <a [routerLink]="['/user/', userId]"
       class="navbar-link navbar-text pull-right c1-color-black c1-text-bold cl-icon-padding">
            <span class="glyphicon glyphicon-user glyph-color">

            </span>
    </a>
  </div>
</nav>
