<div class="container-fluid custom-center-container">

  <nav class="navbar navbar-fixed-top navbar-custom">
    <div class="container-fluid">
      <a class="navbar-brand" [routerLink]="['/user/:uid/website/:wid/page/:pid/widget']"><span
        class="glyphicon glyphicon-chevron-left pull-left glyph-color"></span></a>
      <span class="navbar-brand">
              Choose a Widget
            </span>
    </div>
  </nav>
  <div class="top-margin">
    <ul><a href="widget-heading.html">Header</a></ul>
    <ul><a [routerLink]="['/user/:uid/website/:wid/page/:pid/widget/new']">Label</a></ul>
    <ul><a [routerLink]="['/user/:uid/website/:wid/page/:pid/widget/new']">HTML</a></ul>
    <ul><a [routerLink]="['/user/:uid/website/:wid/page/:pid/widget/new']">Text Input</a></ul>
    <ul><a [routerLink]="['/user/:uid/website/:wid/page/:pid/widget/new']">Link</a></ul>
    <ul><a [routerLink]="['/user/:uid/website/:wid/page/:pid/widget/new']">Button</a></ul>
    <ul><a href="widget-image.html">Image</a></ul>
    <ul><a href="widget-youtube.html">YouTube</a></ul>
    <ul><a [routerLink]="['/user/:uid/website/:wid/page/:pid/widget/new']">Data Table</a></ul>
    <ul><a [routerLink]="['/user/:uid/website/:wid/page/:pid/widget/new']">Repeater</a></ul>
  </div>

</div>
