<nav class="navbar navbar-fixed-top navbar-custom">
  <div class="container-fluid">
    <a class="navbar-brand"
       [routerLink]="['../']">
            <span
              class="glyphicon c1-color-black glyphicon-chevron-left pull-left glyph-color">

            </span>
    </a>
    <span
      class="navbar-brand">
                Pages
        </span>
    <a class="navbar-brand pull-right"
       [routerLink]="['new']">
            <span
              class="glyphicon glyphicon-plus glyph-color">

            </span>
    </a>
  </div>
</nav>


<div class="container-fluid overflow center-container top-margin">
  <ul class="list-group">
    <li class="list-group-item" *ngFor="let x of pages">
      <a [routerLink]="['/user', userId,'website', x.websiteId, 'page', x._id, 'widget']">
        <span class="c1-text-bold colored-link">{{x.name}}</span>
      </a>
      <a [routerLink]="['/user', userId,'website', x.websiteId, 'page', x._id]">
        <span class="glyphicon glyphicon-cog pull-right colored-link"></span>
      </a>
    </li>

    <!-- if there are no pages for a website-->


    <li class="colored-link list-unstyled" *ngIf="pages.length == 0">
      <i>No Pages Found</i>
      <hr>
      <span class="glyphicon glyphicon-plus glyph-color left-margin"></span>
      <a class="colored-link" [routerLink]="['new']">
        Create New Page
      </a>

    </li>

  </ul>
</div>

<nav class="navbar navbar-fixed-bottom navbar-custom">
  <div class="container-fluid">
    <a [routerLink]="['/user/', userId]"
       class="navbar-link navbar-text pull-right c1-color-black c1-text-bold cl-icon-padding">
            <span class="glyphicon glyphicon-user glyph-color">

            </span>
    </a>
  </div>
</nav>
