<nav class="navbar-custom navbar-fixed-top">
  <div class="row">
    <div class="col-xs-12">
      <a class="navbar-brand" [routerLink]="['/user',userId,
          'website',websiteId,
          'page',pageId,
          'widget']"><span
        class="glyphicon glyphicon-chevron-left pull-left glyph-color"></span></a>
      <span class="navbar-brand">
                <strong>Widget Edit</strong>
            </span>
      <a class="navbar-brand pull-right" [routerLink]="['/user',userId,
          'website',websiteId,
          'page',pageId,
          'widget']"><span class="glyphicon glyphicon-ok glyph-color"></span></a>
    </div>
  </div>
</nav>


<div class="container-fluid custom-center-container top-margin">
  <div class="row">
    <div class="col-xs-12">
      <form>
        <div class="form-group">
          <label for="name" class="c1-text-bold font-little-large c1-color-black">Name</label>
          <input type="text" id="name" class="form-control" placeholder="Name" value="Sample Image"
                 data-toggle="tooltip"
                 title="Enter Widget Name" required autofocus
          name="name"
          ngModel [(ngModel)]="widget.name"
          >
        </div>
        <div class="form-group">
          <label for="text" class="c1-text-bold font-little-large c1-color-black">Text</label>
          <input type="text" id="text" class="form-control" placeholder="Title"
                 data-toggle="tooltip"
                 title="Enter Widget Text"
                 value="Widget Text Here" required
                 name="name"
                 ngModel [(ngModel)]="widget.text">
        </div>
        <div class="form-group">
          <label for="url" class="c1-text-bold font-little-large c1-color-black">URL</label>
          <input type="text" id="url" class="form-control" placeholder="URL"
                 data-toggle="tooltip"
                 title="Enter Widget URL"
                 value="https://thumb1.shutterstock.com/display_pic_with_logo/3973673/602824259/stock-vector-presentation-business-infographic-template-with-options-vector-illustration-602824259.jpg"
                 required
                 name="url"
                 ngModel [(ngModel)]="widget.url">
        </div>
        <div class="form-group">
          <label for="width" class="c1-text-bold font-little-large c1-color-black">Width</label>
          <input type="text" id="width" class="form-control"
                  data-toggle="tooltip"
                  title="Enter Widget width" required
                  name="width"
                  ngModel [(ngModel)]="widget.width">
        </div>
        <div class="form-group">
          <label for="upload" class="c1-text-bold font-little-large c1-color-black">Upload</label>
          <input type="file" id="upload" multiple class="form-control"
                 data-toggle="tooltip"
                 title="Select Widget image"
                 required>
        </div>

        <div class="form-group">
          <a [routerLink]="['/user',userId,
          'website',websiteId,
          'page',pageId,
          'widget']" class="btn btn-lg btn-block btn-danger" type="submit">Delete</a>
        </div>
      </form>
    </div>
  </div>
</div>
<nav class="navbar-custom navbar-fixed-bottom">
  <div class="container-fluid">
    <ul class="nav navbar-nav navbar-right">
      <li><a [routerLink]="['/user',userId]"><span class="glyphicon glyphicon-user pull-right glyph-color"></span></a></li>
    </ul>

  </div>
</nav>
